@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Montserrat:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

.CardWidget img{
  width: 27px;
}

/* <----- HEADER -----> */

#header{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #EDE0D4;
  font-weight: bolder;
  color: #7F5539;
  padding: 12px 0px;
  width: 100%;
  text-transform: uppercase;
}

.logo h1 {
  font-family: 'Cinzel', serif;
  font-weight: bolder;
}

.navbar ul {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 6px;
}

.navbar li {
  padding: 0px 25px;
  list-style-type: none;
}

#header a {
  color: #3F4757;
  text-decoration: none;
}

#header a:active {
  color: #7F5539
}

#header a:visited {
  color: #3F4757;
}

/* <----- FOOTER -----> */
#footer {
  background-color: #EDE0D4;
  color: #3F4757;
  padding: 25px 0 10px 0;
  text-align: center;
  font-size: 1.1rem;
}

#footer img {
  padding: 15px 10px 0 10px;
  width: 45px;
}

/* <----- HOME -----> */

#Home {
  background-color: #EDE0D4;
  background-image: url(./img/home.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
}

.ItemDetail, .Cart {
  min-height: 80vh;
}

#Home div {
  padding: 200px 70px 200px 0;
}

#Home p {
  color: #7F5539;
  font-size: 2rem;
  font-weight: 600;
}

#Home .Shop-Now {
  margin-top: 10px;
  padding: 10px 38px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  color: #EDE0D4;
  background-color: #7F5539;
  border: #7F5539;
  border-radius: 0 20px 0px 20px;
}

#Main {
  background-color: #ede0d468;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

#Main .text {
  text-align: center;
}

#Main .text p{
  color: #3F4757;
  font-weight: bolder;
  padding: 100px 200px;
  text-align: center;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  #Main .text p {
    padding: 50px 10px;
  }
}

#Main .text img {
  padding-top: 80px;
  width: 60px;
}

#Main .images {
  display: flex;
  column-gap: 30px;
}

#Main .images div {
  width: 200px;
  text-align: center;
}

@media (max-width: 600px) {
  #Main .images div {
    width: 100px;
  }
}

#Main div img {
  width: 100%;
  border-radius: 10px;
}

#Main .images-1 img {
  margin-top: 20px;
}

#Main .images-2 img {
  margin-bottom: 20px;
}

/* <----- ITEMS -----> */

.itemListContainer .nuestrosProductos {
  color: #3f4757ad;
  font-size: 1.7rem;
  font-weight: bolder;
  text-align: center;
  padding-top: 30px;
}

.ItemList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 50px;
  padding: 30px 50px 70px;
  border-radius: 10px;
}

.divItem {
  text-align: center;
  width: 230px;
  border-radius: 10px;
  padding-bottom: 20px;
  box-shadow: 8px 10px 30px 0px #3f47572c;
}

.divItem img {
  width: 230px;
  border-radius: 10px 10px 70% 0px;
  text-align: center;
}

.divItem:hover img {
  border-radius: 10px 10px 20% 0;
}

.divItem h2 {
  font-size: 1rem;
  padding: 20px 10px 20px;
}

.divItem p {
  font-size: 1rem;
  padding: 0px 2px 20px;
}

.itemVerMas {
  padding: 10px 30px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  color: #F0F4FD;
  border: none;
  border-radius: 10px;
  background-color: #3F4757;
}

.itemVerMas:hover {
  background-color: #F0F4FD;
  color: #3F4757;
}

.ItemDetail{
  padding: 30px 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.ItemDetail img {
  border-radius: 20px;
  width: 400px;
}

.noStock {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  color: #7F5539;
}

.noStock a {
  color: #7F5539;
  text-decoration: none;
}

.noStock:hover a {
  text-decoration: underline;
}

.ItemDescription {
  font-weight: lighter;
  font-size: 1.1rem;
}

.ProductStock{
  text-align: center;
}

.goToCart {
  padding: 16px 32px;
  font-size: 1rem;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  color: #3F4757;
  border: none;
  border-radius: 10px;
  background-color: #F0F4FD;
}

/* CARDS */

.ItemCount{
  text-align: center;
}

.controlsItem {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.controlsItem button {
  padding: 2px 10px;
  font-weight: bolder;
  font-size: 1.3rem;
  border: solid #3F4757 1px;
  border-radius: 7px;
  color: #3F4757;
  background-color: #F0F4FD;
}

.controlsItem p {
  font-weight: bolder;
  font-size: 1rem;
}

.ItemPrice {
  font-size: 1.3rem;
  text-align: center;
}

.addToCart {
  padding: 16px 32px;
  font-size: 1rem;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  color: #F0F4FD;
  border: none;
  border-radius: 10px;
  background-color: #3F4757;
}

.addToCart:hover {
  background-color: #F0F4FD;
  color: #3F4757;
}

.ProductInfo {
  width: 400px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 20px;
}

/* <----- CART -----> */

.cartList {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  min-height: 60vh;
}

.cartList-Products{
  text-align: center;
  margin-top: 30px;
}

.cartList-Products p {
  margin-bottom: 10px;
}

.cartList-Products a {
  color: #7F5539;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
}

.cartList-Products a:hover {
  border-bottom: 2px solid #7F5539;
}

.yourCart{
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.yourCart img {
  width: 30px;
  margin-right: 10px;
}

.Cart-Item {
  width: 500px;
}

.Cart-Product {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  padding: 10px 0;
}

.Cart-Item-Info{
  width: 300px;
}

.Cart-Item-Info .subtotal-price,
.Cart-Item-Info .title {
  text-transform: uppercase;
  padding: 10px 0;
}

.Cart-Item-Info .subtotal {
  font-weight: bolder;
  padding: 10px 0;
}

.Cart-Product img {
  width: 100px;
}

.Cart-Delete button {
  border: none;
  background-color: transparent;
}

.Cart-Delete img {
  width: 20px;
}

.Cart .checkout {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #3f47570e;
  height: 100%;
  padding: 0 20px 5px;
  border-radius: 5px;
}

.checkout p {
  font-weight: bolder;
  text-transform: uppercase;
  padding: 5px 0;
  color: #3F4757
}

.Cart .checkout div {
  display: flex;
  flex-direction: column;
  column-gap: 25px;
  margin-top: 20px;
}

.checkout div input {
  padding: 5px 10px;
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.checkout .checkoutInfo {
  text-align: center;
  padding: 20px 40px;
  border: 1px solid #3F4757;
  font-size: 1.2rem;
}

.Cart button {
  padding: 10px 28px;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  border: none;
}

.Cart .checkoutCart{
  color: #F0F4FD;
  border-radius: 10px;
  background-color: #3F4757;
}

.checkoutCart:hover{
  background-color: #F0F4FD;
  color: #3F4757;
}

.Cart .clearCart {
  background-color: transparent;
  color: #3F4757;
}

/* <----- LOADING ----> */
.Loading div{
  margin: 200px auto;
}

.Loading {
  min-height: 50vh;
}

@media screen and (max-width: 1025px) {

  #Home {
    text-align: right;
  }
  #Home div {
    padding: 200px 25px 200px 0;
  }
}

@media screen and (max-width: 1023px) {
  #Home {
    align-items: flex-start;
    text-align: left;
  }
  #Home div {
    padding: 200px 0 200px 20px;
  }
  #Home p {
    padding-right: 200px;
  }
}

@media screen and (max-width: 769px){
  .ItemDetail {
    flex-direction: column;
    row-gap: 20px;
  }
  .ItemPrice {
    text-align: left;
  }
  .ItemDetail img {
    width: 550px;
  }
  .ProductInfo {
    width: 550px;
  }
  .cartList {
    flex-direction: column;
  }
  .cartList-Item {
    margin: auto auto;
  }
  .Cart-Item {
    width: 350px;
    margin: auto auto
  }
  .Cart-Product {
    row-gap: 10px;
  }
  .Cart .checkout {
    width: 70%;
    margin: 30px auto;
  }
}

@media screen and (max-width: 560px){
  .ItemDetail img {
    width: 350px;
  }
  .ProductInfo {
    width: 350px;
  }
}